 a {
     text-decoration: none;
 }
 
 nav#menu ul,
 li,
 a {
     margin: 0%;
     padding: 0%;
     list-style: none;
     font-family: 'Courier New', Courier, monospace;
     text-decoration: none;
     color: black;
     font-size: 20px;
 }
 
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #b1d6dee8;
     margin: 0%;
     width: 100%;
     height: 100%;
 }
 
 #menu {
     display: flex;
     align-items: center;
 }
 
 #menu li {
     margin: 5px;
 }
 
 #menu a {
     display: block;
     padding: 10px;
     background: rgb(134, 144, 140);
     border-radius: 20px;
 }
 
 .conteudo h1 {
     font-size: 20pt;
     box-shadow: 0px 0px 0px black;
     background-color: rgb(189, 123, 123);
     padding-left: 50px;
     padding-top: 20px;
     padding-bottom: 20px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin-top: 0%;
 }
 
 .conteudo {
     margin: 0px;
     box-shadow: 0px 0px 0px black;
 }
 
 h3 {
     font-size: 30px;
     padding-left: 30px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: rgba(32, 31, 32, 0.904);
 }
 
 .conteudo p {
     font-size: 20px;
     margin-left: 30px;
     margin-top: 30px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     width: 75%;
 }
 
 #menu a:hover {
     text-decoration: black;
     background-color: rgb(119, 116, 116);
     color: wheat;
     padding: 17px;
     border-radius: 35px;
     transition: all.0.2s;
     font-weight: 650;
 }
 
 #rodape {
     clear: both;
 }
 
 #rodape p {
     text-align: center;
     font-size: 15px;
     padding: 20px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 body,
 html {
     margin: 0;
     height: 100%;
     width: 100%;
     background-color: #deb1b1e8;
 }
 
 .cabeçalho {
     background-image: url("bg3.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
 }
 
 #assunto {
     padding-top: 25px;
 }
 /* Menu Mobile CSS */
 
 #menumobile div {
     display: block;
     position: relative;
     left: -300px;
     margin: 0%;
 }
 
 #menumobile li {
     list-style: none;
     margin: 0%;
 }
 
 #menumobile img {
     width: 40px;
 }
 
 #menumobile input[type="checkbox"] {
     display: none;
 }
 
 #menumobile nav {
     width: 350px;
     height: 100%;
     position: absolute;
     left: -400px;
     transition: all.5s;
 }
 
 #menumobile a {
     display: block;
     padding: 20px 5px;
     color: rgb(0, 0, 0);
     background: #86908c;
 }
 
 #menumobile a:hover {
     text-decoration: black;
     background-color: rgb(119, 116, 116);
     color: wheat;
     padding: 17px;
     transition: all.0.2s;
     font-weight: 650;
 }
 
 #menumobile label {
     position: absolute;
     z-index: 1;
     padding: 15px;
 }
 
 ul {
     top: 60px;
     position: absolute;
     margin-top: 0%;
     width: 100%;
     padding: 10px;
     background-color: #86908c;
 }
 
 header #menumobile {
     position: absolute;
 }
 
 #menumobile input[type="checkbox"]:checked~nav {
     transform: translateX(400px);
 }
 
 #menumobile {
     display: none;
 }
 /*final Menu Mobile CSS */
 /*
 /*Butoões de ir e voltar*/
 
 #butoes img {
     width: 40px;
 }
 
 #butoes {
     margin: 20px;
     padding: 5px;
 }
 /*Fim de configurações de butões*/
 
 @media screen and (max-width:768px) {
     #menu {
         display: none;
     }
     .conteudo p {
         font-size: 12pt;
         width: 85%;
         text-align: justify;
         margin-top: 10px;
     }
     .conteudo {
         padding: 0%;
         margin: 0%;
     }
     #titulo {
         font-size: 25px;
         visibility: visible;
         padding-left: 25px;
     }
     #logo {
         width: 70%;
         margin-left: 30%;
     }
     #menumobile {
         margin-left: 25px;
         margin-bottom: 20px;
         display: block;
     }
 }
 
 #erro p {
     font-size: 20px;
     margin-left: 30px;
     margin-top: 30px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     width: 75%;
 }