{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2? family = Amatic + SC: wght @ 700 & display = swap " rel=" stylesheet ">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <title>GibiMania</title>
</head>


<body class="bg">
    <div class="cabeçalho">
        <header>
            <img id="logo" src="{% static 'logo4.png' %}" alt="Logomarca do site Gibi Mania">

            <div>
                <nav id="menu">

                    <li>
                        <a href="{% url 'index' %}">
                           HOME
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'turmacrianca' %}">TURMA CRIANÇA</a>
                    </li>
                    <li>
                        <a href="{% url 'turmajovem' %}">TURMA JOVEM</a>
                    </li>
                    <li>
                        <a href="{% url 'curiosidades' %}">CURIOSIDADES</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">LOGOUT</a>
                    </li>

                </nav>

            </div>


            <div id="menumobile">
                <input type="checkbox" id="chec">
                <label for="chec">
                        <img src="{% static 'menu.png' %}" alt="Menu mobile">
                    </label>
                <nav id="teste1">
                    <ul>
                        <li>
                            <a href="{% url 'index' %}"> HOME</a>
                        </li>
                        <li>
                            <a href="{% url 'turmacrianca' %}">TURMA CRIANÇA</a>
                        </li>
                        <li>
                            <a href="{% url 'turmajovem' %}">TURMA JOVEM</a>
                        </li>
                        <li>
                            <a href="{% url 'curiosidades' %}">CURIOSIDADES</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">LOGOUT</a>
                        </li>


                    </ul>


                </nav>

                <br>

            </div>




        </header>
    </div>


    <div class="conteudo" id="teste">
        <h1 id="titulo">PAGINA INICIAL</h1>
        <p id="assunto">
            <h3>Olá!</h3>
            <p>
                Por acreditarmos na importância da valorização do conteúdo literário brasileiro, nosso site tem como objetivo principal disponibilizar uma série de informações sobre as histórias em quadrinhos/gibis da Turma da Mônica.
            </p>

            <p>
                Desejamos interagir com pessoas de todas as idades que tenham vontade de conhecer mais sobre o Mauricio de Souza e a turminha. Aqui você também vai encontrar, inumeras curiosidades sobre o universo dos quadrinhos, personagens e muito mais.

            </p>

            <p>
                Nossa equipe espera que você consiga enriquecer seus conhecimentos, e com isso se apaixonar pela turminha e suas aventuras incríveis.
            </p>

            <h3>Bem vindo!</h3>
        </p>

    </div>
    <br>

    <div id="butoes">
        <a href="{% url 'turmacrianca' %}">
            <button>
               <img src="{% static 'next.png' %}" alt="next">
            </button>
        </a>
    </div>


    <hr>


    <div id="rodape">
        <footer>
            <p>Copyright &copy; 2022 - by Emily Rocha, Isabelly Fernandes, Carina santos e Fernando Gabriel</p>
        </footer>
    </div>





</body>

</html>